p{
  font-family: arial;
  font-size: 24px;
  color: lightblue; 
  }

p.first{
  max-height: 4px;
  color: black;
  }

pre.minor{
  font-family: arial;
  font-size: 16px;
  color: lightblue;
  }

a{
  text-decoration: none;
  }
