div{
  font-family: arial;
  font-size: 24px;
  color: lightblue;
  text-align: center;
  }

h1{
  font-size: 36px;
  color : black;
  }

.first{
  font-size : 32px;
  text-align : center;
  background-color: gray;
  color: white;
}

.minor{
  font-family: arial;
  font-size: 16px;
  height: 12px;
  color: lightblue;
  margin-top: 2px;
  }
pre{
  font-color: white;
  }

a{
  text-decoration: none;
  }
